:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  outline: 2px solid red;
}


  html, body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .splash-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo {
  display: block;
  max-width: 300%;
  margin-bottom: 20px;
}

  h1 {
    color:rgb(255, 255, 255);
    text-align: center;
  } 

  .splash2 {
    background-color: white;
  }

  .logo-start {
    color: black;
  }
